*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ib-main-wrapper{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    outline: none;
    /*height dynamic*/
}
.ib-main{
    position: relative;
    width: 300vw;
    height: 300vh;
    background-color: azure;
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
.ib-main div{
    width: 100vw;
    height: 100vh;
}

#box1{
    background-color: bisque;
}
#box2{
    background-color: chocolate;
}
#box3{
    background-color: blueviolet;
}
#box4{
    background-color: cadetblue;
}
#box5{
    background-color: cyan;
}
#box6{
    background-color: darkorchid;
}
#box7{
    background-color: dimgray;
}
#box8{
    background-color: fuchsia;
}
#box9{
    background-color: lightsalmon;
}
