*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.ib-main-wrapper{
    width: 100%;
    overflow: hidden;
    height: 100vh;
    outline: none;
    /*height dynamic*/
}
.ib-main{
    position: relative;
    width: 300vw;
    height: 300vh;
    background-color: azure;
}