*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
input{
    display: block !important;
    width: 100% !important;
}
button{
    margin: 1em 0;
}
.screen{
    max-width: 500px;
    margin: auto;
    padding: 1em 0;
}